In [1]:
# Importing necessary libraries 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import folium
import warnings
warnings.simplefilter("ignore")
pd.set_option('display.max_columns', None)

In [2]:
cir_df = pd.read_csv('../input/formula-1-world-championship-1950-2020/circuits.csv')
rlt_df = pd.read_csv('../input/formula-1-world-championship-1950-2020/results.csv')
st_df = pd.read_csv('../input/formula-1-world-championship-1950-2020/status.csv')
dr_df = pd.read_csv('../input/formula-1-world-championship-1950-2020/drivers.csv')
rc_df = pd.read_csv('../input/formula-1-world-championship-1950-2020/races.csv')
con_df = pd.read_csv('../input/formula-1-world-championship-1950-2020/constructors.csv')
consd_df = pd.read_csv('../input/formula-1-world-championship-1950-2020/constructor_standings.csv')
lt_df = pd.read_csv('../input/formula-1-world-championship-1950-2020/lap_times.csv')
qli_df = pd.read_csv('../input/formula-1-world-championship-1950-2020/qualifying.csv')
pd.get_option('display.max_columns', None)

In [3]:
# Taking a look at the dataframe that shows drivers qualifying performance by driverID and raceID
qli_df.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

In [4]:
# Viewing the dataframe that identifies the raceID values
rc_df.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [5]:
# Viewing the dataframe that identifies the driverID values 
dr_df.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [6]:
# From viewing dr_df we can see that Lewis Hamilton's unique driverID is 1 - so now I can create a new dataframe of Lewis's qualifying performances from qli_df

Lewis_df = qli_df[qli_df['driverId'] == 1].copy()
Lewis_df

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
25,26,19,1,1,22,4,1:35.392,1:34.627,1:36.709
46,47,20,1,1,22,3,1:32.750,1:31.922,1:33.292
70,71,21,1,1,22,5,1:21.366,1:20.825,1:22.096
90,91,22,1,1,22,3,1:26.192,1:26.477,1:27.923
...,...,...,...,...,...,...,...,...,...
9718,9776,1106,1,131,44,4,1:21.554,1:20.426,1:27.627
9739,9797,1107,1,131,44,5,1:05.673,1:05.188,1:04.819
9761,9819,1108,1,131,44,7,1:29.415,1:28.545,1:27.211
9775,9833,1109,1,131,44,1,1:18.577,1:17.427,1:16.609
9798,9856,1110,1,131,44,4,1:58.563,1:52.345,1:47.087

In [7]:
# The only columns I need are the raceID, q1, q2, q3 and position columns, so I filtered out the rest 

columns_to_drop = ['qualifyId','driverId','constructorId','number']
Lewis_df.drop(columns=columns_to_drop,inplace=True)
Lewis_df

      raceId  position        q1        q2        q3
0         18         1  1:26.572  1:25.187  1:26.714
25        19         4  1:35.392  1:34.627  1:36.709
46        20         3  1:32.750  1:31.922  1:33.292
70        21         5  1:21.366  1:20.825  1:22.096
90        22         3  1:26.192  1:26.477  1:27.923
...      ...       ...       ...       ...       ...
9718    1106         4  1:21.554  1:20.426  1:27.627
9739    1107         5  1:05.673  1:05.188  1:04.819
9761    1108         7  1:29.415  1:28.545  1:27.211
9775    1109         1  1:18.577  1:17.427  1:16.609
9798    1110         4  1:58.563  1:52.345  1:47.087

[322 rows x 5 columns]

In [8]:
# In order to match the raceID with the Grand Prix name, I need to filter out rc_df, so I created a new dataframe that I will drop the unneeded columns from.

race_df = rc_df

col1 = ['round','circuitId','date','time','url','fp1_date','fp1_time','fp2_date','fp2_time','fp3_date','fp3_time','quali_date','quali_time','sprint_date','sprint_time']
race_df.drop(columns=col1,inplace=True)
race_df

      raceId  year                      name
0          1  2009     Australian Grand Prix
1          2  2009      Malaysian Grand Prix
2          3  2009        Chinese Grand Prix
3          4  2009        Bahrain Grand Prix
4          5  2009        Spanish Grand Prix
...      ...   ...                       ...
1096    1116  2023  United States Grand Prix
1097    1117  2023    Mexico City Grand Prix
1098    1118  2023      São Paulo Grand Prix
1099    1119  2023      Las Vegas Grand Prix
1100    1120  2023      Abu Dhabi Grand Prix

[1101 rows x 3 columns]

In [9]:
# Now I can take the two filtered dataframes and create one new one that will display the information I need

merged_df = Lewis_df.merge(race_df[['raceId', 'year', 'name']], how='left', on='raceId')
merged_df.drop('raceId', axis=1, inplace=True)
merged_df.rename(columns={'year': 'year', 'name': 'Grand Prix'}, inplace=True)
merged_df

     position        q1        q2        q3  year             Grand Prix
0           1  1:26.572  1:25.187  1:26.714  2008  Australian Grand Prix
1           4  1:35.392  1:34.627  1:36.709  2008   Malaysian Grand Prix
2           3  1:32.750  1:31.922  1:33.292  2008     Bahrain Grand Prix
3           5  1:21.366  1:20.825  1:22.096  2008     Spanish Grand Prix
4           3  1:26.192  1:26.477  1:27.923  2008     Turkish Grand Prix
..        ...       ...       ...       ...   ...                    ...
317         4  1:21.554  1:20.426  1:27.627  2023    Canadian Grand Prix
318         5  1:05.673  1:05.188  1:04.819  2023    Austrian Grand Prix
319         7  1:29.415  1:28.545  1:27.211  2023     British Grand Prix
320         1  1:18.577  1:17.427  1:16.609  2023   Hungarian Grand Prix
321         4  1:58.563  1:52.345  1:47.087  2023     Belgian Grand Prix

[322 rows x 6 columns]

In [10]:
# Exporting our new dataframe to csv format

merged_df.to_csv('/kaggle/working/output.csv', index=False)